<app-layout>
    <nz-breadcrumb>
        <nz-breadcrumb-item>系统管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/password/setting">密码设置</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <form class="password-form" nz-form [formGroup]="formGroup" (ngSubmit)="setPassword(formGroup.value)">
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入新密码">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="newPwd" placeholder="请输入新密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="请确认密码">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="confirmPwd" placeholder="请确认密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <button class="btn-modify" nz-button nzType="primary" nzSize="large">修改密码</button>
        </nz-form-item>
    </form>
</app-layout>
